APPWRITE_ENDPOINT=op://Test/FamPro/APPWRITE_ENDPOINT
APPWRITE_PROJECT_ID=op://Test/FamPro/APPWRITE_PROJECT_ID
APPWRITE_DATABASE_ID=op://Test/FamPro/APPWRITE_DATABASE_ID
APPWRITE_JAR_COLLECTION_ID=op://Test/FamPro/APPWRITE_JAR_COLLECTION_ID
APPWRITE_TRANSACTION_COLLECTION_ID=op://Test/FamPro/APPWRITE_TRANSACTION_COLLECTION_ID
APPWRITE_API_KEY=op://Test/FamPro/APPWRITE_API_KEY
PASSAGE_APP_ID=op://Test/FamPro/PASSAGE_APP_ID
PASSAGE_API_KEY=op://Test/FamPro/PASSAGE_API_KEY
